<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="globalPackagesFolder" />
  </config>
  <packageSources>
    <clear />
    <add key="local-packages" value="./artifacts" />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget">
      <package pattern="*" />
    </packageSource>
    <packageSource key="local-packages">
      <package pattern="StronglyTypedId" />
      <package pattern="StronglyTypedId.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>